<%- include('layouts/header') %>
<body>
    <%- include('layouts/menu') %>
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 mt-5">
                <h1 class="text-center">Edit Product</h1>
                <form action="/edit/<%= product._id %>" method="post">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Title</label>
                        <input type="text" name="title" value="<%= product.title %>" class="form-control" id="exampleFormControlInput1">
                      </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Description</label>
                        <textarea name="description" class="form-control" id="" rows="6"><%= product.description %></textarea>
                      </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Price</label>
                        <input type="number" value="<%= product.price %>" name="price" class="form-control" id="exampleFormControlInput1" >
                      </div>
                     
                      <input type="submit" value="Update Product" class="btn btn-success mt-3">
                </form>
            </div>
        </div>
    </div>
</body>
</html>